body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: #0f62ac;
  color: white;
  justify-content: space-between;
  font-size: 1.25em;
  padding: 0.12em 0.5em;
}

main {
  display: flex;
  flex-direction: row;
}

.canva {
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  background-color: #0f62ac;
  border-top: 1px solid white;
}

.sidebar > * {
  width: 90%;
  margin: 2.5%;
}

.selector-title {
  color: white;
  font-weight: bold;
  text-decoration: underline solid white;
}

.axis-label {
  font-size: 12px;
  fill: #333;
  font-weight: bold;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
}

.subtitle {
  font-size: 14px;
  text-anchor: middle;
  fill: #555;
}

.chart {
  box-shadow: 3px 3px 5px gray;
}
