body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 10%;
  background-color: #0f62ac;
  color: white;
  justify-content: space-between;
  padding: 0.12em 0.5em;
}

main {
  display: flex;
  flex-direction: column;
}

.canva > * {
  margin: 20px 20px;
  padding: 20px;
  border: solid 1px #0f63acb4;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.axis-label {
  font-size: 12px;
  fill: #333;
  font-weight: bold;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
}

.subtitle {
  font-size: 14px;
  text-anchor: middle;
  fill: #555;
}
